.messeagebar{
font-size: 250%;
text-align: center;
padding: 10px;}

.tableheader{
padding: 15px;	
font-weight: bold;
text-align: center;	}
.tablereacord{	
padding: 10px;
text-align: center;	}

